fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
fpdf2
pdfplumber
openpyxl
pydantic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
alembic
pydantic-settings
python-multipart
bcrypt==3.2.2
fastapi-mail==1.4.1
iyzipay
apscheduler
slowapi